<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>zChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./assets/Semantic-UI/semantic.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/chat.css" />
</head>

<body>
  <div id="app">
    <div class="detect ui sidebar inverted vertical menu">
      <div id="sidebarContent">
        <a class="item profile-pseudo">
          <p class="p-avatar">{{ user && user.pseudo }}</p>
        </a>

        <button @click="showAddFriendModal" class="ui inverted button profile-actions btn-add">Add a friend</button>
        <button @click="showSeeFriendRequestModal" class="ui inverted button profile-actions btn-add">seeFriendRequest</button>
        <button @click="logout" class="ui inverted button profile-actions">Log out</button>

        <div class="ui modal" id="addFriend">
          <div class="header">Add Friend</div>
          <div class="content">
           
            <div class="ui form error">
              <div class="field">
                <label>Enter your friend's ID :</label>
                <input type="number"  placeholder="Example : 46" v-model.number="addFriend.toAddId">
              </div>
              <div v-if="addFriend.notif.visible" class="ui message"
              :class="[ addFriend.notif.type ? addFriend.notif.type : '' ]">
                <div class="header">Notification</div>
                <p>{{ addFriend.notif.msg }}</p>
              </div>
              
              <button @click="sendFriendRequest" class="ui basic button">
                <i class="icon user"></i>
                Send friend request
              </button>
            </div>
          </div>
        </div>

        <div class="ui modal" id="seeFriendRequest">
          <div class="header">Friend requests</div>
          <div v-if="seeFriendRequest.list.length === 0" class="content">
            <p>You don't have any friend requests.</p>
          </div>
          <div v-else class="content">
            <table class="ui inverted table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Pseudo</th>
                  <th>Request date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(aFriendRequest, index) in seeFriendRequest.list" :key="'friendRequest' + index">
                  <td>{{ aFriendRequest.id }}</td>
                  <td>{{ aFriendRequest.pseudo }}</td>
                  <td>{{ aFriendRequest.timestamp_friend_request }}</td>
                  <td>
                    <div class="ui mini buttons">
                      <button class="ui positive button" @click="answerFriendRequest(aFriendRequest, true)">Accept</button>
                      <div class="or"></div>
                      <button class="ui negative button" @click="answerFriendRequest(aFriendRequest, false)">Refuse</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="ui form error">
              <div v-if="seeFriendRequest.notif.visible" class="ui message"
              :class="[ seeFriendRequest.notif.type ? seeFriendRequest.notif.type : '' ]"
              >
                <div class="header">Notification</div>
                <p>{{ seeFriendRequest.notif.msg }}</p>
              </div>
            </div>

          </div>
        </div>

        <a v-for="(aFriend, index) in friends" :key="'friend' + index"
        :href="'chat.html?friendId=' + aFriend.id"
        class="item"
        :class="{ banned: aFriend['is_banned'] }"
        >
          <span>{{ aFriend.pseudo }}</span>
          <span class="bannedText">{{ aFriend['is_banned'] ? '(banned)' : '' }}</span>
        </a>
      </div>
    </div>

    <div class="ui pusher">
      <div v-if="loading" class="ui active dimmer">
        <div class="ui text loader">Loading ...</div>
      </div>

      <div v-else-if="loadingError">
        <div class="ui message" :class="[ notif ? notif.type : '' ]">
          <div class="header">Error</div>
          <p>{{ notif.msg }}</p>
        </div>
      </div>

      <div v-else id="msg-area">
        <button @click="toggleSidebar" id="activateSidebar" class="ui icon button">
          <i class="bars icon"></i>
        </button>

        <div v-if="notif" class="notif">
          <div class="ui message" :class="[ notif.type ]">
            <div class="header">Notification</div>
            <p>{{ notif.msg }}</p>
          </div>
        </div>

        <div v-if="chatFriend">
          <div class="friendInfo">
            <span class="friendPseudo">{{ chatFriend.pseudo }}</span>
            <span class="friendId">#{{ chatFriend.id }}</span>
          </div>
          <div class="msg-list">
            <div v-for="(aMessage, index) in messages"
            :key="'msg' + index"
            class="msg-bubble"
            :class="{ 'msg-incoming': aMessage.sender === chatFriend.id }"
            >
              <p>{{ aMessage.content }}</p>
            </div>
          </div>
          
          <button id="sendButton" @click="sendMessage" class="big circular ui icon button">
            <i class="paper plane outline icon"></i>
          </button>

          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" v-model="autoRefreshMessagesToggle" @change="refreshMessagesToggled"
              tabindex="0" class="hidden" />
              <label>Auto-refresh messages</label>
            </div>
          </div>

          <div id="textField" class="ui form">
            <div class="field">
              <label>Message</label>
              <textarea v-model="newMessage" @keyup.enter="sendMessage" rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/js/vue.js"></script>
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="./assets/Semantic-UI/semantic.min.js"></script>
  <script src="./assets/js/app.js"></script>
  <script src="./assets/js/chat.js"></script>
</body>
</html>
