<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>zChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="./assets/Semantic-UI/semantic.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/chat.css" />
</head>

<body>
  <div id="app">
    <div class="detect ui sidebar inverted vertical menu">
      <div id="sidebarContent">
        <a class="item profile-pseudo">
          <p class="p-avatar">{{ user && user.pseudo }}</p>
        </a>

        <button class="ui inverted button profile-actions">Add a friend</button>
        <button class="ui inverted button profile-actions">Log out</button>

        <a v-for="(aFriend, index) in friends" :key="'friend' + index"
        :href="'chat.html?friendId=' + aFriend.id"
        class="item"
        >
          {{ aFriend.pseudo }}
        </a>
      </div>
    </div>

    <div class="ui pusher">
      <div v-if="loading" class="ui active dimmer">
        <div class="ui text loader">Loading ...</div>
      </div>

      <div v-else-if="loadingError">
        <div class="ui message" :class="[ notif ? notif.type : '' ]">
          <div class="header">Error</div>
          <p>{{ notif.msg }}</p>
        </div>
      </div>

      <div v-else id="msg-area">
        <button @click="toggleSidebar" id="activateSidebar" class="ui icon button">
          <i class="bars icon"></i>
        </button>

        <div class="msg-list">
          <div v-for="(aMessage, index) in messages"
          :key="'msg' + index"
          class="msg-bubble"
          :class="{ 'msg-incoming': aMessage.sender === chatFriend.id }"
          >
            <p>{{ aMessage.content }}</p>
          </div>
        </div>
        
        <button id="sendButton" @click="sendMessage" class="big circular ui icon button">
          <i class="paper plane outline icon"></i>
        </button>

        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" v-model="autoRefreshMessagesToggle" @change="refreshMessagesToggled"
            tabindex="0" class="hidden" />
            <label>Auto-refresh messages</label>
          </div>
        </div>

        <div id="textField" class="ui form">
          <div class="field">
            <label>Message</label>
            <textarea v-model="newMessage" @keyup.enter="sendMessage" rows="2"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/js/vue.js"></script>
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="./assets/Semantic-UI/semantic.min.js"></script>
  <script src="./assets/js/chat.js"></script>
</body>
</html>