
body {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bloc {
    text-align: center;
    background-color: white;
    padding: 30px 40px 30px 40px;
    border-radius: 20px;
}



.test {
    width: 300px;
}

.bordure {
    border-color: red;
}

.field label {
    float: left;
    padding-left: 10px;
    padding-bottom: 3px;
}

.field {
    padding-bottom: 5px;
}

.titre {
    padding-bottom: 13px;
}

.check {
    padding-top: 20px;
    padding-bottom: 10px;
}