#activateSidebar {
  position: absolute;
}

#msg-area {
  margin: 0 auto;
  left: 0px;
  width: calc(100vw - 30px);
  height: 100vh;
  position: relative;
  transition-duration: 0.5s;
}

#textField {
  left: 0px;
  bottom: 0px;
  padding-bottom: 10px;
  background-color: white;
  transition-duration: 0.5s;
}

#sendButton {
  position: absolute !important;
  z-index: 99;
  bottom: 52px;
  right: 30px; 
}


.msg-list {
  height: calc(100vh - 105px);
  overflow: auto;
}

.msg-bubble {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 0px 30px;
}

.msg-bubble p {
  display: inline;
  padding: 15px;
  background-color: #3795ece3;
  border-radius: 25px;
}

.msg-incoming {
  justify-content: flex-start;
}

.msg-incoming p {
  background-color: #65ac65e3;
}

.msg-bubble p {
  color:white;
}


.profile-pseudo {
  text-align: center !important;
}
.profile-actions {
  display: block !important;
  margin: 0 auto 10px auto !important;
}

.banned span {
  color: #8e8e8e !important;
  text-decoration: line-through !important;
}

.banned .bannedText {
  text-decoration: none !important;
}

.notif {
  width: 50vw;
  margin: 0 auto;
}