.test{
    height: 100vh;
    position: relative;
}

.zone-message{
    padding: 0 10px 0 10px;
    
}

.zone-texte{

    position: fixed!important;
    bottom: 0px;
    left: 10px;
    width: calc(100vw - 30px );
    padding-bottom: 10px;
    background-color: white;
}

.btn-envoi{
    position: fixed!important;
    z-index: 101;
    bottom: 52px;
    right: 30px; 
}


.message{
    width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 0px 30px;
  
  
}

.message-externe{
    justify-content: flex-end;
    
}

.texte-message{
    display: inline;
    padding: 15px;
    background-color: rgba(55, 149, 236, 0.89);
    border-radius: 25px;
    
}


.texte-message-externe{
    display: inline;
    padding: 15px;
    background-color: rgba(101, 172, 101, 0.89);
    border-radius: 25px;
    
}

.msg{
    height: calc(100vh - 100px);
    overflow: auto;
    
}